body {
  padding-top: 100px;
  -webkit-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  background: url(/img/bg.jpg) no-repeat fixed;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

@media all and (max-width: 599px) {
  body {
    background-image: none; } }

html {
  background: transparent; }

.main-container {
  padding: 30px;
  padding-top: 10px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  overflow: auto; }

.navbar {
  min-height: 86px; }

.navbar-nav {
  margin-top: 19px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.navbar-toggle {
  margin-top: 35px;
  margin-bottom: 25px; }

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

.col-centered {
  float: none;
  margin: 0 auto; }

.carousel-caption {
  text-align: left;
  bottom: 300px;
  text-shadow: none;
  color: #333; }

.carousel-caption h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

.signup {
  font-weight: 500; }
